.div_external{
	padding: 5px;
}
.div_menu{
	
	margin: auto;
	
}

.button_but{
	float: right;
	margin-right: 20px;
}
.add_div{
	text-align: center;
	margin-bottom: 20px;
}
.div_interval{
	margin-top: 10px;
	margin-bottom: 10px;
}
